body{
    background-color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

img{
    width: 100%;
}

.hidden{
    display: none;
}

.pin{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('../img/pin.png');
    display: none;
}

.expanded{
    width: auto!important;
    z-index: 100;
}

.expanded .image-footer{
    display: block;
}

.stamped .pin{
    background-image: url('../img/unpin.png') ;
}

.packery-item:hover .pin{
    display: inline-block;
}

.packery-item.is-positioning-post-drag {
  opacity: 0.5;
}

.image-footer{
    width: 100%;
    position: absolute;
    height: 40px;
    bottom: -37px;
    background-color: #FFF;
    color: #000;

    display: none;
}

.share-count{
    margin: 4px 0 0 10px;
    font-size: 1.5em;
}

/* Merge mode */
.merge-candidate{
    border: 2px solid rgb(56,100,237);
    margin: -2px; /*Stops element from moving */
}

.merge-selected{
    border: 2px solid rgb(255,68,0);
    margin: -2px;
}

button.merge{
    position: absolute;
    top: 10px;
    left: 10px;
    display: none;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 5px 10px;
    background-color: rgba(255,255,255,0.2);
    border: none;
}

button.merge:hover{
    background-color: rgba(255,255,255,0.7);
}

.expanded button.merge{
    display: block;
}

#merge-buttons{
    position: absolute;
    top: 10px;
    right: 10px;
}



