body{
    background-color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

img{
    width: 100%;
}

.pin{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('../img/pin.png');
    display: none;
}

.expanded{
    width: auto!important;
    z-index: 100;
}

.expanded .image-footer{
    display: block;
}

.stamped .pin{
    background-image: url('../img/unpin.png') ;
}

.packery-item:hover .pin{
    display: inline-block;
}

.packery-item.is-positioning-post-drag {
  opacity: 0.5;
}

.image-footer{
    width: 100%;
    position: absolute;
    height: 40px;
    bottom: -37px;
    background-color: #000;
    color: white;

    display: none;
}

.share-count{
    margin: 4px 0 0 10px;
    font-size: 1.5em;
}




