body{
    background-color: #000;
    font-family: 'Lato', sans-serif;
    font-weight: 100;
}

img{
    width: 100%;
}

.hidden{
    display: none;
}

#blackout-curtain{
    width: 100%;
    padding-bottom: 10000px;
    background-color: #000;
    position: relative;
}

#blackout-curtain.dropped{
    z-index: 50;
}

.pin{
    width: 15px;
    height: 15px;
    position: absolute;
    top: 5px;
    right: 5px;
    background-image: url('../img/pin.png');
    display: none;
}

.expanded{
    width: auto!important;
    z-index: 100;
}

.expanded .image-footer{
    display: block;
}

.stamped .pin{
    background-image: url('../img/unpin.png') ;
}

.packery-item:hover .pin{
    display: inline-block;
}

.packery-item.is-positioning-post-drag {
  opacity: 0.5;
}

.image-footer{
    width: 100%;
    position: absolute;
    height: 40px;
    bottom: -37px;
    background-color: #FFF;
    color: #000;
    display: none;
}

.share-count{
    margin: 4px 0 0 10px;
    font-size: 1.5em;
}

/* Merge mode */

.merge-alpha {
    border: 3px solid rgb(237, 15, 3);
    margin: -3px; /*Stops element from moving */
}

.merge-candidate {
    border: 2px solid rgb(56,100,237);
    margin: -2px; /*Stops element from moving */
}

.merge-selected{
    border: 2px solid rgb(255,68,0);
    margin: -2px;
}

button.merge{
    position: absolute;
    top: 10px;
    left: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    padding: 3px 18px;
    border: 1px solid #3b3b3b;
    background-color: #FFF;
    color: black;
}

#merge-buttons{
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 200;
}

button{
    border: none;
    margin-left: 5px;
    padding: 5px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 0.7em;
    font-weight: 300;
    color: white;
}

#cancel-merge {
    background-color: red;
}

#complete-merge{
    background-color: #008000;
}

/* Main menu */
#open-main-menu, #main-menu{
    z-index: 200;
    position: fixed;
    bottom: 10px;
    left: 10px;
    color: #000;
}

#main-menu{
    background-color: #FFF;
    width: 240px;
    padding: 8px;
}

#main-menu button{
    background-color: #B6B6B6;
    color: #000;
}

#main-menu button.selected{
    background-color: #000;
    color: #FFF;
}

#main-menu button.close{
    position: absolute;
    top: 3px;
    right: 3px;
    color: #000;
    background-color: #FFF;
    padding: 3px;
}

