<!DOCTYPE html>
<html>
<head>
    <meta lang="en">
    <script src="js/masonry.pkgd.min.js"></script>
    <link type="text/css" rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="masonry">
    {% for twitter_image in twitter_images %}
        <div class="masonry-item">
            <img src="{{ twitter_image.url }}">
            <div class="count">{{ twitter_image.count}}</div>
        </div>
    {% endfor %}
    </div>

    <script type="text/javascript">
        docReady( function() {
            var container = document.querySelector('.masonry');
            var msnry = new Masonry( container );
            msnry.layout();
        })
    </script>
</body>
</html>