<!DOCTYPE html>
<html>
<head>
    <meta lang="en">
    <link type="text/css" rel="stylesheet" href="css/main.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Import the Desandro libraries -->
    <script type="text/javascript" src="js/imagesloaded.pkgd.min.js"></script>
    <script type="text/javascript" src="js/packery.pkgd.min.js"></script>
    <script type="text/javascript" src="js/draggabilly.pkgd.min.js"></script>

    <!-- And my js -->
    <script type="text/javascript" src="js/resize.js"></script>
</head>
<body>
    <div id="container">
    {% for twitter_image in twitter_images %}
        <div id="item{{ loop.index }}" class="packery-item">
            <img src="{{ twitter_image.url }}">
            <div class="count">{{ twitter_image.count}}</div>
        </div>
    {% endfor %}
    </div>
</body>
</html>