<!DOCTYPE html>
<html>
<head>
    <meta lang="en">
    <title>Javascript tests</title>
    <link type="text/css" rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="qunit-1.18.0.css">
    <script type="text/javascript" src="../../js/imagesloaded.pkgd.min.js"></script>
    <script src="../../js/packery.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <div id="container">
        {% for twitter_image in twitter_images %}
            <div id="item{{ loop.index }}" class="packery-item">
                <img src="{{ twitter_image.url }}">
                <div class="count">{{ twitter_image.count}}</div>
            </div>
        {% endfor %}
    </div>

    <script src="../../js/resize.js"></script>
    <script src="qunit-1.18.0.js"></script>
    <script>

        $(test("Everything loadable", function () {
            ok(ResizeModule, "Resize module loaded");
            ok(ResizeModule.get_max_count, "get_max_count can be loaded")
        }));

        $(test("get_max_count()", function(assert){
            var expected = 5;
            var result = ResizeModule.get_max_count();
            assert.equal(expected, result)
        }));

    </script>

</body>
</html>