<!DOCTYPE html>
<html>
<head>
    <meta lang="en">
    <title>Javascript tests</title>
    <link type="text/css" rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="qunit-1.18.0.css">
    <script src="../../js/masonry.pkgd.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<body>

    <div id="qunit"></div>
    <div id="qunit-fixture"></div>

    <div class="masonry">
    {% for twitter_image in twitter_images %}
        <div class="masonry-item">
            <img src="{{ twitter_image.url }}">
            <div class="count">{{ twitter_image.count}}</div>
        </div>
    {% endfor %}
    </div>

    <script type="text/javascript">
        docReady( function() {
            var container = document.querySelector('.masonry');
            var msnry = new Masonry( container, {
                itemSelector: ".masonry-item"
            });
            msnry.layout();
        })
    </script>

    <script src="../../js/resize.js"></script>
    <script src="qunit-1.18.0.js"></script>
    <script>

        $(test("Everything loadable", function () {
            ok(ResizeModule, "Resize module loaded");
            ok(ResizeModule.get_widths, "get_widths can be loaded");
            ok(ResizeModule.get_max_count, "get_max_count can be loaded")
        }));

        $(test("get_widths() returns correct values", function ( assert ) {
            var widths = ResizeModule.get_widths();
            var expected = [600, 600, 600, 600, 350, 599, 404, 600, 504, 547,
                            600, 387, 600];
            assert.deepEqual(widths, expected);
        }));

        $(test("get_max_count()", function(assert){
            var expected = 4;
            var result = ResizeModule.get_max_count();
            assert.equal(expected, result)
        }));

    </script>

</body>
</html>